NUBIOS_MOCK_AI=true
NUBIOS_DATA_DIR=./nubios_data
NUBIOS_ALLOWED_DIRECTORIES=
NUBIOS_AI_PROVIDER=mock
NUBIOS_AI_MODEL=llama3.2
NUBIOS_LOG_LEVEL=INFO
NUBIOS_THEME=dark
NUBIOS_TTS=false
NUBIOS_TTS_PROVIDER=elevenlabs
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=fJ2BRu9MMKDzgQZh6OiH
ELEVENLABS_MODEL=eleven_multilingual_v2
NUBIOS_STARTUP=false
